<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-danger row">
    <div class="col-md-10">
    <span style="font-size:xx-large; color: white;">Leave Management System</span>
    </div>


      <div class="collapse navbar-collapse col-2" id="navbarSupportedContent">
        <ul class="navbar-nav navbar-light">
          <li class="nav-item bg-primary text-light border-2 ">
            <a class="nav-link"  style="color:white;" href="/login">Login</a>
          </li>
          <li class="nav-item bg-primary text-light ">
            <a class="nav-link" style="color:white;" href="/register">Register</a>
          </li>

        </ul>
      </div>
  </nav>
  <router-outlet></router-outlet>
</div>